<!DOCTYPE html>
<html>
  <head>
    <%-include layout/header%>
  </head>
  <body>
    <div class="container">
      <table border="1">
        <tr>
          <th>name</th>
          <th>score by number</th>
          <th>score by letter</th>
        </tr>
        <%dataSS.forEach(d => {%>
        <tr>
          <td><%=d.Student.first_name%></td>
          <%if (d.score == undefined) {%>
            <td><a href="/subjects/<%= d.id %>/givescore">Give Score</a></td>
          <%} else {%>
            <td><%=d.score%></td>
          <%}%>
          <td><%=d.Letter%></td>
        </tr>
        <%})%>
      </table><br>
      <a href="/subjects">back</a>
    </div>
  </body>
</html>
