<!DOCTYPE html>
<html>
  <head>
    <%- include layout/header %>
  </head>
  <body>
    <h2>subject</h2>
    <!-- <a href="/add">Add Subject</a>
    <br><br> -->
    <%- include layout/navbar %>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Teacher</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% dataSubjects.forEach(subject => { %>
        <tr>
          <td><%= subject.id %></td>
          <td><%= subject.subject_name %></td>
          <td>
            <ol>
              <% subject.Teachers.forEach(teacher => { %>
                <li><%= teacher.first_name %> <%= teacher.last_name %></li>
              <% }) %>
            </ol>
          </td>
          <td><a href="/subjects/<%=  %>/enrolledstudents">Enrolled Students</a></td>
          <!-- <td><a href="#">DELETE</a></td>
          <td><a href="#">EDIT</a></td> -->
        </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <a href="/">Back</a>
  </body>
</html>
